.message{data: {message: {id: message.id}}}
  .message-upper
    .message-upper__group
      = message.user.name
    .message-upper__date
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .message-main
    - if message.content.present?
      %p.message-main__text
        = message.content
    = image_tag message.image.url, class: 'message-main__image' if message.image.present?