.wrapper

  = render 'shared/chat-bar'

  .chat-main
    .main-header
      .main-header-upper
        .main-header-upper__group-name
          Sample
        %ul.main-header-upper__group-members
          Member:
          %li.member
            seo
          %li.member
            neko
      .main-header-edit
        .main-header-edit__botton
          Edit
    .messages
      .message
        .message-upper
          .message-upper__group
            seo
          .message-upper__date
            2019/11/1 10:00:00 
        .message-main
          .message-main__text
            Hello world!
      .message
        .message-upper
          .message-upper__group
            neko
          .message-upper__date
            2019/10/31 10:00:00 
        .message-main
          .message-main__text
            Good bye world!
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}